@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	min-width: 100vw !important;
	min-height: 100vh !important;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
	min-height: 100vh !important;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.prose :where(img):not(:where([class~=\"not-prose\"] *)) {
	margin-top: 0;
	margin-bottom: 0;
}

.prose :where(h1,h2,h3,h4,h5,h6):not(:where([class~=\"not-prose\"] *)) {
	color: inherit;
}

article :where(h1,h2,h3,h4,h5,h6) {
	font-family: "Manrope";
}
